In [1]:
# -*-coding:utf8-*-
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

df_chat = pd.read_csv('/home/wilson/Downloads/group_chat_content(14).csv',encoding='utf_8_sig')
df_chat.drop(['robot_id','user_signature','region','city','robot_displayname','user_info','id'], axis=1,inplace=True)

In [2]:
df_chat.columns

Index(['group_displayname', 'user_nickname', 'content', 'content_type',
       'time'],
      dtype='object')

In [3]:
df_chat['time'] = pd.to_datetime(df_chat['time'], unit='s')

In [4]:
df_chat.drop(['group_displayname','user_nickname','content_type'], axis=1, inplace=True)

In [5]:
df_chat.set_index('time',inplace=True)

                                                               content
time
2018-04-24 19:31:39                                              æ­å–œæ­å–œï¼
2018-04-24 19:37:34                                                  å“¦
2018-04-24 19:48:29  é¢å¯¹ç½ªçŠ¯æŒ¥èˆæ‰‹ä¸­çš„æ‰‹æªï¼Œé‚£ä¸ªè­¦å‘˜å†’ç€å±é™©ï¼Œå†·é™å¤„ç†è¿™äº‹ï¼ŒæŠ“ä½äº†ç½ªçŠ¯ï¼Œå€¼å¾—ç§°èµğŸ‘ - è¿™ç§æƒ…å†µ...
2018-04-24 19:50:46                                         å‘¨æ•™ç»ƒæ•™çš„å¥½[å‘²ç‰™]
2018-04-24 19:53:08                                 æä¾›æ˜å¤©ä¸­åˆå»å¤šä¼¦å¤šçš„carpool

In [ ]:
Plot binned counts of a timeseries with pandas